CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [-mfp16-format=ieee, -fno-reorder-functions ]
Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    - drv_unknown_argument

---
If:
  PathMatch: .*\devices.cpp
Diagnostics:
  Suppress: bad_cxx_cast_generic